<h1>Add comment</h1>

<p>Movie ID: <%= params[:movie_id] %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @comment do |f| %>
      <%= f.label :rating %>
      <br>
      <div class="radio-inline">
        <%= f.radio_button :rating, 1 %>1
      </div>
      <br>
      <div class="radio-inline">
        <%= f.radio_button :rating, 2 %>2
      </div>
      <br>
      <div class="radio-inline">
        <%= f.radio_button :rating, 3 %>3
      </div>
      <br>
      <div class="radio-inline">
        <%= f.radio_button :rating, 4 %>4
      </div>
      <br>
      <div class="radio-inline">
        <%= f.radio_button :rating, 5 %>5
      </div>
      <br>
      
      <%= f.label :comment, "Description" %>
      <%= f.text_area :comment, :cols => "40", :rows => "5" %>
      
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :movie_id, :value => params[:movie_id] %>
      
      
      <%= f.submit "Submit the review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>